 .swiper-button-prev {
background-image: url(../../src/assets/images/leftArrow.svg) !important;
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
top: var(--swiper-navigation-top-offset, 41%) !important; 
}
.swiper-button-next {
background-image: url(../../src/assets/images/leftArrow.svg) !important;
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
top: var(--swiper-navigation-top-offset, 41%) !important; 
transform: rotate(180deg);
}
.swiper-button-next::after {
display: none;
}
.swiper-button-prev::after {
display: none;
}